* {
  font-size: 16px;
}

*, *:before, *:after {
box-sizing: border-box;
}

body {
  background: #ECEDED;
  margin: 0 auto;
  width: 100%
}

nav {
  height: 64px;
  position: fixed;
  width: 100%;
}

.nav-list {
  color: #563A5F;
  font-family: 'Quicksand', sans-serif;;
  font-weight: 700;
  font-size: 20px;
}

#nav-logo {
  height: 42.75px;
  width: 50px;
}

#nav.name {
  olor: #563A5F;
}

header {
  background-image: url('../images/hero.svg');
  background-repeat: no-repeat;
  height: 1024px;
  width: 100%;
}

button {
  height: 45px:
}

#hero-name {
  color: #563A5F;
  font-family: 'Arkipelago', sans-serif;
  font-size: 150px;
}

h2 {
  color: #080809;
}

#brackets {
  color: rgba(8, 8, 9, 0.2);
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  font-weight: 700;
}

p {
  color: #080809;
  font-family: 'Quicksand', sans-serif;
  line-height: 50%;
  font-size: 35px;
}

#down-arrow {
  height: 30.85px;
}

#px=cpver {
  height: 818px;
}

#outside-box {
  height: 483px;
}

#accessibility {
  height: 364.14px;
}

#linkedin {
  height: 40px;
}
#github {
  height: 40px;
}
#email {
  height: 40px;
}
