* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: #ECEDED;
  color: #080809;
  font-family: 'Quicksand', sans-serif;
  width: 100%;
}

.container {
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: 1fr;
  margin: 0 auto;
  padding: 0 3.6rem;
}

nav {
  /* height: 6.4rem; */
  position: fixed;
}

.logo {
  float: left;
}

.name {
  color: #563A5F;
  float: left;
  padding-left: 1.5rem;
}

.nav-right {
  float: right;
}

h {
  background-image: url('../images/hero.svg');
  background-repeat: no-repeat;
}

#hero-name {
  color: #563A5F;
  font-family: 'Arkipelago', sans-serif;
  font-size: 10rem;
}

#brackets {
  color: rgba(8, 8, 9, 0.2);
  font-size: 4rem;
  font-weight: 700;
}

p {
  font-size: 2rem;
  line-height: 120%;
}
